<%- include('layout/header') %>
<!-- slider-start -->
<div class="slider-area">
    <div class="page-title">
        <div class="single-slider slider-height slider-height-breadcrumb d-flex align-items-center" style="background-image: url(img/nitttr_mbb.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content slider-content-breadcrumb text-center">
                            <h1 class="white-color f-700">About Us</h1>
                            <nav class="text-center" aria-label="breadcrumb">
                                <ol class="breadcrumb justify-content-center">
                                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">About Us</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider-end -->
<!-- about start -->
<div id="about" class="about-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-7">
                <div class="about-img mb-55">
                    <img src="img/about/about_details_left_img.jpg" alt="">
                </div>
                <div class="about-title-section about-title-section-2 mb-30">
                    <h1>CRED</h1>
                    <p>The centre is poised to undertake training and capacity development programs, policy oriented and action based research and work closely with agencies, departments and ministries working on promotion of rural entrepreneurship and financial inclusion. The centre also organizes workshops and conferences on broad themes such as entrepreneurship for rural youth, women and socially and economically marginalized groups, skill development through entrepreneurship, rural banking and finance, rural clusters, rural tourism, Startup Village Entrepreneurship and Smart village.</p>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5">
                <div class="about-img mb-55">
                    <img src="img/about/about_details_right_img.jpg" alt="">
                </div>
                <div class="about-title-section about-title-section-2 mb-30">
                    <h1>Our Mission Vission</h1>
                    <p>Our mission is to develop sustainable and planned development of the Achieving rural development through entrepreneurship of rural youth and formers undertaking awareness, capacity building, and hand-holding programs and infusing improved technologies in the rural areas. Rural and natural resources achieved through Rural and Entrepreneurship development and management, for the benefit of the rural and tribal community and the Startup Ecosystem for Rural and Tribal Entrepreneurs. Imparting training for rural development functionaries, elected representatives, civil society organizations, bank official and other stake holders associated with rural development initiatives. Our initiatives are designed to create a self-sufficient ecosystem.</p>
                </div>
            </div>
        </div>
        <div class="row mt-60">
            <div class="col-xl-12">
                <div class="university-banner mb-30">
                    <img src="img/about/university.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about end -->

 <!-- counter start -->
<div class="counter-area">
    <div class="container pt-90 pb-65">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3">
                <div class="couter-wrapper mb-30 text-center">
                    <img src="img/counter/counter_icon1.png" alt="">
                    <span class="counter">10532</span>
                    <h3>Satisfied Students</h3>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3">
                <div class="couter-wrapper mb-30 text-center">
                    <img src="img/counter/counter_icon2.png" alt="">
                    <span class="counter">7985</span>
                    <h3>Courses Complated</h3>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3">
                <div class="couter-wrapper mb-30 text-center">
                    <img src="img/counter/counter_icon3.png" alt="">
                    <span class="counter">5382</span>
                    <h3>Satisfied Students</h3>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3">
                <div class="couter-wrapper mb-30 text-center">
                    <img src="img/counter/counter_icon4.png" alt="">
                    <span class="counter">354</span>
                    <h3>Expert Advisors</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- counter end -->
<%- include('layout/footer') %>