<%- include('layout/header') %>

   
<section class="cdtp">
    <header class="header-cdtp">
        <div class="container-cdtp">
            <h1 class="head-cdtp">
                SCHEME OF COMMUNITY DEVELOPMENT THROUGH POLYTECHNICS (CDTP)
            </h1>
            <nav class="navigationcdtp">
                <!-- Add your navigation links here if needed -->
            </nav>
        </div>
    </header>

    <main class="main-content-cdtp">
        <div class="container-cdtp">
            <section class="description-section-cdtp">
                <p class="description-cdtp">
                    As a Direct Central Assistance Scheme, the scheme of Community Development Through Polytechnics (CDTP) was implemented during 2009 in 189 polytechnics in the Southern Region. The scheme was sponsored by the Ministry of Human Resource Development, Govt. of India, New Delhi. During FY 2017-18, the scheme has been transferred from the Ministry of Human Resource Development (MHRD) to the Ministry for Skill Development & Entrepreneurship (MSDE). The Scheme aims to uplift the rural youth, the school dropouts, the poor, the downtrodden, etc.
                </p>
                <p class="description-cdtp">
                    The number of polytechnics in each State implementing the Scheme of CDTP is as follows:
                </p>
                <img class="image-container-cdtp" src="img/cdtp.png" alt="">
            </section>

            <section class="activities-section-cdtp">
                <h2 class="subhead-cdtp">Activities:</h2>
                <ul class="activity-list-cdtp">
                    <li class="activity-cdtp">Need Assessment Survey</li>
                    <li class="activity-cdtp">Skill Development Training Programmes</li>
                    <li class="activity-cdtp">Dissemination and Application of Appropriate Technologies</li>
                    <li class="activity-cdtp">Technical and Support Services</li>
                    <li class="activity-cdtp">Awareness Programmes</li>
                </ul>
            </section>

            <section class="role-section-cdtp">
                <h3 class="subhead-cdtp">Role Of NITTTR</h3>
                <p class="description-cdtp">
                    To enable the project personnel associated with the implementation of CDTP scheme in their respective polytechnics, the Centre for Rural and Entrepreneurship Development (CRED) of the institute serves as a resource centre. The Polytechnics carry out the activities based on the Annual Operation Plan (AOP) approved by NITTTR. It conducts orientation training programmes, workshops, and an annual review of the scheme to verify Physical Achievement Report (PAR). Besides, the CRED assists the MSDE in preparation of various progress reports and the expenditure related matters. During the Year 2019-20, a Regional workshop was conducted on 9th, 10th & 14th October 2019 for verification of Physical Achievement Reports submitted by the Polytechnics of Tamil Nadu. A total of 54 participants attended the workshop.
                </p>
            </section>
        </div>
    </main>
</section>


<%- include('layout/footer') %>