<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/dashboardInternship.css">
</head>
<body>
    <div class="container">
        <h1 class="title">Add New Internship</h1>
        <form action="/admin/dashboard/internships" method="post" enctype="multipart/form-data">
            <label for="img">Select image:</label>
            <input type="file" id="img" name="internshipImage" accept="image/*"><br>

            <label>Domain</label>
            <input type="text" placeholder="Domain Name, like ''Data Science'' etc" name="internshipDomain"><br>
            
            <br><label>Title</label>
            <input type="text" placeholder="Title of the Event" name="internshipTitle"><br>

            <label >Details</label>
            <input placeholder="Write something.." style="height: 200px" type="text" name="internshipDetails"><br>
            
            <label>Form Link:</label>
            <input type="text" placeholder="Apply Now Link" name="internshipLink"><br>
            
            <div style="text-align: center;">
                <input type="submit">
            </div>
        </form>
    </div>
</body>
</html>
