<%- include('layout/header') %>
<section class="hodmsg">
    <h1 id="hod-mesg">HOD Message</h1>
    <div class="card-container-msg">
        <div class="card-msg">
            <div class="contact-card-msg">
                <img class="contact-img-msg" src="img/dep_gi1.jpg" alt="Profile Picture" />
                <div>
                    <h2 class="hod-mesg-desc" > Dr. K.S. GIRIDHARAN</h2>
                    <p class="hod-mesg-desc">Designation: Professor and Head Of Department</p>
                    <p class="hod-mesg-desc">Address: MBB - 208C<br>
                       Center for Rural and Entrepreneurship Development<br>
                       National Institute of Technical Teachers Training and Research (NITTTR), Chennai.</p>
                    <p class="hod-mesg-desc">Phone: OFF: 044 2254 5481<br>
                       Res Ph: 9566173506 (WhatsApp)</p>
                    <p class="hod-mesg-desc">Email: ks.giridharan@gmail.com</p>
                </div>
            </div>
        </div>
    </div>

    <p class="hod-mesg-desc"><span class="highlight-msg">India's National Education Policy 2020:</span> India is one of the leading countries to address the current challenges in higher education through the formulation of the "National Education Policy 2020". The Policy emphasizes on the transformation of the "Stream-based Educational Setup" to a "Multimodal Setup" for structuring a global value adder, with a special focus on online education (to increase the Gross Enrollment Ratio), mentoring of teachers and innovative research. India is the first Country in the World to provide the Faculty Certification through the creation of 8 modules associated with Pedagogy, Research, Leadership, Technology, Professional Ethics and Evaluation. This innovative model has an immense potential to attract the other developing and developed Countries to follow our footstep.</p>

    <p class="hod-mesg-desc"><span class="highlight-msg">Teaching Learning Process:</span> The Teaching Learning process of the offline and online modes requires different approaches and it is the responsibility of the Teachers to make the classes interesting in order to capture the attention of the Students. There is an urgent need to develop adaptable and agile Teachers who can increasingly be adept at jumping between different tasks with minimal friction and navigate the technology-induced green and digital transitions. The three distinct categories of technical manpower required by the industries are Engineers, Technicians and Skilled Workers. The curricula of various programmes should be improved in view of the changes due to localization, globalization and internationalization. Rigorous training and internship programmes will develop the spirit of inquiry, initiative, scientific temper and conceptual clarity, in addition to enhancing the skills of the participants.</p>

    <p class="hod-mesg-desc"><span class="highlight-msg">NITTTR Chennai:</span> NITTTR Chennai is mandated to work at the intersection of Technology, Content and Pedagogy which will be accomplished with the help of Information and Communication Technologies. The expertise of the Institute will be available to the entire gamut of Technical, Vocational and Management sectors. NITTTR Chennai caters to the needs of the southern States viz., Andhra Pradesh, Karnataka, Kerala, Tamil Nadu (including Puducherry Union Territory) and Telangana which contribute to 35% of the total number of technical institutions in the Country. Hence, the Institute plays an inevitable role in the creation of eminent Teachers and successful Leaders of the education sector who in turn build World Class Institutes. The ultimate objective of NITTTR Chennai is to catalyze the developmental activities, introduce groundbreaking reforms and emerge as a "Technical Education Hub" for connecting the potential stakeholders. This will be achieved by intensifying the present education and training models and evolving innovative practices in the field of technical teachers training.</p>
    </section>

<%- include('layout/footer') %>