<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404 - Page Not Found</title>
  <link rel="stylesheet" href="/css/404_page.css">
</head>
<body>
  <div class="error-container">
    <div class="error-message">404</div>
    <div class="error-text">Oops! Page not found.</div><br>
    <div class="error-link">
      <a href="/">Go back to the homepage</a>
    </div>
  </div>
</body>
</html>
