<%- include('layout/header') %>
<!-- slider-start -->
<div class="slider-area">
    <div class="page-title">
        <div class="single-slider slider-height slider-height-breadcrumb d-flex align-items-center" style="background-image: url(/img/skilldev/iiab1.png);">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content slider-content-breadcrumb text-center">
                            <h1 class="white-color f-700">About</h1>
                            <nav class="text-center" aria-label="breadcrumb">
                                <ol class="breadcrumb justify-content-center">
                                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Skill Development</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider-end -->
<!-- about start -->
<div id="about" class="about-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-7">
                <div class="about-img mb-55">
                    <img src="img/img/download4.jpg" alt="">
                </div>
                <div class="about-title-section about-title-section-2 mb-30">
                    <h1>Overview</h1>
                    <p>Majority of rural people and those living in slums require assistance in adopting appropriate technology for enhancing their productivity and standard of living. 
                        NITTTR established Centre for Rural Development in the year 1979 to evolve a vast network which can help in adoption of appropriate technologies among the rural people and slum dwellers. 
                        Later, realizing the need for rural entrepreneurship to enhance the quality of rural life and to work on that the Centre has been renamed as "Centre for Rural and Entrepreneurship Development"Skill Development has been
                        considered one of the critical
                        aspect for job creation in India.
                        India has a unique Demographic
                        advantage with more 60% of the
                        population in the young age
                        group. As per the current
                        statistics only 10% of fresh
                        graduates are employable and
                        the rest 90% lack skills required
                        for employment. The current
                        phase of GDP growth rate and
                        job creation is not matching with
                        each other. In order to enhance
                        skill development amongst the
                        youth, Government of India has
                        framed Skill Development
                        Initiatives like CDTP and PWD
                        that are implemented through
                        identified Polytechnic Colleges
                        for more than two decades.India is a vast country with a population of approximately 130
                        crore. 75% of India’s population lives in about six lac villages.
                        There is a visible difference in rural and urban, rich and poor,
                        highly educated and lesser educated, forward and backward
                        areas. While resourceful people, particularly those living in urban
                        areas, have had access to better education and professional
                        training, but vast majority of those who live in rural areas and
                        slums are lesser educated and hardly undergo any technical,
                        professional and vocational training. In fact, for most of such
                        people, quality education and higher technical and professional
                        education is unaffordable. In terms of career options, such lesser
                        educated and not so fortunate people tend to work in low paid
                        unorganized sector. Per person productivity of such persons
                        works out to be a small fraction of productivity of those who work
                        in organized sector of Indian economy.</p>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5">
                <div class="about-img mb-55">
                    <img src="img/img/download6.jpg" alt="">
                </div>
                <div class="about-title-section about-title-section-2 mb-30">
                    <h1>About the Skill Development Initiatives </h1>
                    <p> In an increasingly
                        competitive economic environment of our country, the
                        unorganized sector, which is so important for the country, needs
                        to increase the productivity of its manpower for its survival and
                        growth. Yet another paradox before the Indian informal sector is
                        that it cannot afford employing highly educated and professionally
                        trained manpower which usually aspires for highly challenging,
                        rewarding and satisfying career. The only option available before
                        the Indian informal sector is to depend upon relatively low paid
                        manpower trained through non formal system of skill
                        development. There is, therefore, an urgent need to train millions
                        of persons every year through a countrywide network of
                        non-formal skill development. Such non-formal skill training
                        should attract beneficiaries from all cross-sections of Indian
                        society with special emphasis on SCs/STs, OBCs, women,
                        school dropouts, minorities, physically disabled, economically
                        weaker sections of the society and other under-privileged
                        persons.</p>
                </div>
            </div>
        </div>
        <div class="row mt-60">
            <div class="col-xl-12">
                <div class="university-banner mb-30">
                    <img src="img/img/download2.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about end -->

<!-- counter start -->
<div class="counter-area">
    <div class="container pt-90 pb-65">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3">
                <div class="couter-wrapper mb-30 text-center">
                    <img src="img/counter/counter_icon1.png" alt="">
                    <span class="counter">10532</span>
                    <h3>Satisfied Students</h3>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3">
                <div class="couter-wrapper mb-30 text-center">
                    <img src="img/counter/counter_icon2.png" alt="">
                    <span class="counter">7985</span>
                    <h3>Courses Complated</h3>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3">
                <div class="couter-wrapper mb-30 text-center">
                    <img src="img/counter/counter_icon3.png" alt="">
                    <span class="counter">5382</span>
                    <h3>Satisfied Students</h3>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3">
                <div class="couter-wrapper mb-30 text-center">
                    <img src="img/counter/counter_icon4.png" alt="">
                    <span class="counter">354</span>
                    <h3>Expert Advisors</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- counter end -->
<%- include('layout/footer') %>