<%- include('layout/header') %>
<div class="slider-area">
    <div class="page-title">
        <div class="single-slider slider-height slider-height-breadcrumb d-flex align-items-center" style="background-image: url(img/video/video_bg.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-content slider-content-breadcrumb text-center">
                            <h1 class="white-color f-700">Institute - Industry Advisory Board (IIAB) & Section 8 Company</h1>
                            <nav class="text-center" aria-label="breadcrumb">
                                <ol class="breadcrumb justify-content-center">
                                   
                                    <!--<li class="breadcrumb-item active" aria-current="page">Section 8 Company</li>-->
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
slider-end

<div id="about" class="about-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-7">
                <div class="about-img mb-55">
                    <img src="img/skilldev/iiab1.png" alt="">
                </div>
                <div class="about-title-section about-title-section-2 mb-30">
                    <h1>Institute - Industry Advisory Board (IIAB)</h1>
                    <p>NITTTR Chennai, a premier training Institute in the country has been offering numerous Faculty Development Programmes to the faculty members of Technical Institutions spread across India for the past six decades. The faculty members of various Centrally Funded Technical Institutions (CFTIs) and other prominent Institutions were also trained by NITTTR. This Institute has been instrumental in skilling the rural youth and differently abled through CDTP and PWD Schemes respectively.<br>
                    As a part of the continuous improvement,it has been envisaged to establish Institute-Industry Advisory Board (IIAB) in 2022 at NITTTR Chennai, to ascertain the academic and research programmes offered are relevant and cater to the industries demand and also to strengthen the industry – Institute partnership.The IIAB consists of a pool of experts representing various verticals of prominent industries and disciplines.The IIAB is expected to advice on the latest trends, global challenges, and impact of technology on jobs and economy based on which the academic programmes shall be conceived and offered to the stakeholders. This relationship fosters in generating opportunities, products, and services to the stakeholders and also to bridge the gap between Institutes – Industry.</p>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5">
                <div class="about-img mb-55">
                    <img src="img/skilldev/iiab2.png" alt="">
                </div>
                <div class="about-title-section about-title-section-2 mb-30">
                    <h1>Section 8 Company</h1>
                   <p>To promote Entrepreneurial spirit among the Diploma / Engineering Students, Trainees (formal and non- formal), faculty members of Technical Institutions and aspiring Entrepreneurs in the country, it has been envisioned to start a section 8 company at NITTTR Chennai that functions in alignment with the initiatives of NITI Aayog, AICTE and NEP 2020.This section 8 company endeavours to enable start-ups / incubators promoted by Diploma / Engineering Students, Trainees (formal and non- formal), faculty members and aspiring Entrepreneurs to set up a base at the Institute and leverage the expertise of NITTTR Chennai. This section 8 company breaks down the traditional, artificial impediments of innovation through its connectivity and collaborative interaction.</p>
                  <p> <ul>The guiding principles behind the section 8 company are:
                       <li>Creating a collaborative environment between industry and academia</li> 
                       <li> Taking efforts to address challenges faced by the Entrepreneurs</li> 
                      <li> Creating a self-sustaining and technologically generative environment</li>
                        <li>Encouraging and enabling R&D activities and Start-ups that are aligned to potential needs of the industry</li>
                       <li> Providing state of art infrastructure for R&D activities and incubation</li></ul></p> 
                   
                </div>
            </div>
        </div>
        <div class="row mt-60">
            <div class="col-xl-12">
                <div class="university-banner mb-30">
                    <img src="img/skilldev/all2.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('layout/footer') %>
