<%- include('layout/header') %>
<section class="cdtp">
    <header class="header-cdtp">
        <div class="container-cdtp">
            <h1 class="head-cdtp">
                TAMIL NADU RURAL TRANSPORTATION PROJECT (TNRTP)
            </h1>
        </div>
    </header>

    <main class="main-content-cdtp">
        <div class="container-cdtp">
            <ul>
            <img class="image-container-cdtp" src="/img/events/events_005.jpg" alt="Image Here">
            </ul>
            <section class="description-section">
                <p class="description-cdtp">
                    NITTTR Chennai along with Nachimuthu Polytechnic College, Pollachi conducted Training of Trainers
                    programme (ToT) programme for various trades to the Master Trainers of Community Skills Schools of
                    Tamil Nadu Rural Transformation Project (TNRTP) / Vaazhnthu Kaattuvom Project (VKP), an
                    innovative Project that aims at rural transformation through strategies that look beyond poverty
                    alleviation by building sustainability and prosperity of rural communities through rural enterprise
                    promotion, access to finance and employment opportunities in the selected blocks of Tamil Nadu.
                    
                </p>
            </section>
            <section class="description-section">
                <p class="description-cdtp">
                    A large number of technologies have been developed by various research institutions and laboratories
                    in the form of appropriate technologies. But, the benefits of these technologies have failed to reach the
                    rural population. The villagers could not adopt these modern technologies and implements to improve
                    productivity, and, in turn, their quality of life, since the process of transfer of technologies was not
                    undertaken in a planned manner.
                </p>
            </section>
        </div>
    </main>
   </section>
<%- include('layout/footer') %>