<%- include('layout/header') %>
<section class ="cdtp">
    <header class="header-nsdc">
            <h1>
                TOT - TOA (NSDC)
            </h1>
    </header>
    <div>
        <h2 class="container-cdtp">
            National Skill Development Corporation(NSDC)
        </h2>
    </div>

    <main class="main-content-cdtp">
        <div class="container-cdtp">
            <section class="description-section">
                <p class="description-cdtp">
                    There are two types of mainstream short-term courses for existing teachers in engineering and polytechnic
                    colleges: pedagogical training and technical training. The pedagogical training course trains teachers in delivery
                    methods for their course material. While arts and science colleges have several teacher training programs, there
                    are no such programs for teachers in engineering and polytechnic colleges. This course attempts to bridge this
                    gap to the extent possible through wide-reaching programs.
                    In an effort to meet the high demand for such training, NITTTR has also started disseminating web-based
                    lectures for this program, wherein the lectures held in Chennai are transmitted to five or six other polytechnic
                    colleges across the state simultaneously via video conference. Teachers within a 50 kilometre radius of these
                    polytechnic colleges attend the web-based lectures at these institutes. The training program lasts for 14 days
                    and each batch has about 300 participants.
                    The second type of program is more technical and is related to updating the trainers about the latest industrial
                    and technological developments. 
                </p>
            </section>
            <h3>
                Overseas Teachers’ Training Program
            </h3>
            <section class="description-section">
                <p class="description-cdtp">
                    A large number of technologies have been developed by various research institutions and laboratories
                    in the form of appropriate technologies. But, the benefits of these technologies have failed to reach the
                    rural population. The villagers could not adopt these modern technologies and implements to improve
                    productivity, and, in turn, their quality of life, since the process of transfer of technologies was not
                    undertaken in a planned manner.NITTRs across the country fall under the mandate of the HRD ministry, government of India. It has been
                    accorded the status of a Nationally Important Institute in the field of training the teachers. Each institute is
                    headed by a director. There are 10 departments headed by a professor, along with two associate professors and
                    two assistants. There are also extension centres in Bangalore, Cochin and Kerala to coordinate the
                    administration of these courses in their respective states. About 120 people work as support staff for the
                    institute.
                </p>
            </section>
        </div>
    </main>
  </section>
<%- include('layout/footer') %>