<!-- footer start -->
<footer id="Contact">
    <div class="footer-area primary-bg pt-150">
        <div class="container">
            <div class="footer-top pb-35">
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="footer-widget mb-30">
                            <div class="footer-logo">
                                <img src="img/nitttr_logo.png" alt="">
                            </div>
                            <div class="footer-para">
                                <p>National Institute of Technical Teachers' Training and Research Taramani, Chennai 600113 Tamilnadu [MINISTRY OF EDUCATION, GOVT. OF INDIA] </p>
                            </div>
                            <div class="footer-socila-icon">
                                <span>Follow Us</span>
                                <div class="footer-social-icon-list">
                                    <ul>
                                        <li><a href="#"><span class="ti-facebook"></span></a></li>
                                        <li><a href="#"><span class="ti-twitter-alt"></span></a></li>
                                        <li><a href="#"><span class="ti-dribbble"></span></a></li>
                                        <li><a href="#"><span class="ti-google"></span></a></li>
                                        <li><a href="#"><span class="ti-pinterest"></span></a></li>
                                        <li><a href="#"><span class="ti-instagram"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                   <!-- <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="footer-widget mb-30">
                            <div class="footer-heading">
                                <h1>Quick Links</h1>
                            </div>
                            <div class="footer-menu clearfix">
                                <ul>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Condition</a></li>
                                    <li><a href="#">Support</a></li>
                                    <li><a href="#">Consultation</a></li>
                                    <li><a href="#">Team Member</a></li>
                                    <li><a href="#">Our Services</a></li>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                    <li><a href="#">Who we are</a></li>
                                    <li><a href="#">Get a Quote</a></li>
                                    <li><a href="#">Recent Post</a></li>
                                    <li><a href="#">Who we are</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>-->
                    
                    
                    
                    
     
                    <div class="col-xl-3 col-lg-4  col-md-6">
                        <div class="footer-widget mb-30">
                            <div class="footer-heading">
                                <h1>Contact Us</h1>
                            </div>
                            <div class="footer-contact-list">
                                <div class="single-footer-contact-info">
                                    <span class="ti-headphone "></span>
                                    <span class="footer-contact-list-text">:(+91-44) 2254 5406</span>
                                </div>
                                <div class="single-footer-contact-info">
                                    <span class="ti-email "></span>
                                    <span class="footer-contact-list-text">crednitttr@gmail.com</span>
                                </div>
                                <div class="single-footer-contact-info">
                                    <span class="ti-location-pin"></span>
                                    <span class="footer-contact-list-text">National Institute of Technical Teachers' Training and Research
                                Taramani, Chennai 600113 Tamilnadu</span>
                                </div>
                            </div>
                            <div class="opening-time">
                                <span>Opening Hour</span>
                                <span class="opening-date">
                                    Sun - Sat : 9:00 am - 05:00 pm
                                </span>
                            </div>
                        </div>
                    </div>

            
              <div class="col-lg-6">
            <!-- to edit google map go to https://www.embed-map.com type your location, generate html code and copy the html  -->
            <div style="max-width:100%;list-style:none; transition: none;overflow:hidden;width:1000px;height:400px;"><div id="my-map-canvas" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:22;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=NITTTR,+CSIR+Road,+Tharamani,+Chennai,+Tamil+Nadu,+India&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe></div><a class="my-codefor-googlemap" rel="nofollow" href="https://www.bootstrapskins.com/themes" id="authmaps-data"> </a><style>#my-map-canvas .text-marker{}.map-generator{max-width: 100%; max-height: 100%; background: none;</style></div>
        </div>
                                </div>
            </div>
            
            
            <div class="footer-bottom pt-25 pb-25">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="footer-copyright text-center">
                                  <span><a target="_blank" href="https://www.nitttrc.ac.in/">© 2023 CRED_NITTTRC- All rights reserved</a></span><br>
                                  <span><a target="_blank" href="https://teamxpress.netlify.app/">Developers Team</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer end -->


<!-- JS here -->

<script src="js/modernizr-3.5.0.min.js"></script>
<script src="js/jquery-1.12.4.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/isotope.pkgd.min.js"></script>
<script src="js/one-page-nav-min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/ajax-form.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/jquery.meanmenu.min.js"></script>
<script src="js/jquery.scrollUp.min.js"></script>
<script src="js/jquery.barfiller.js"></script>
<script src="js/imagesloaded.pkgd.min.js"></script>
<script src="js/jquery.counterup.min.js"></script>
<script src="js/waypoints.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>
<script src="js/hod_aos.js"></script>

</body>


</html>
