<!doctype html>
<html class="no-js" lang="zxx">


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>NITTTR</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.html">
    <link rel="shortcut icon" type="image/x-icon" href="img/logo.jpg">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/fontawesome-all.min.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/meanmenu.css">
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/hod.css">
    <link rel="stylesheet" href="css/hod_aos.css">
    <link rel="stylesheet" href="css/cdtp.css">
    <link rel="stylesheet" href="css/gallery.css">
    <link rel="stylesheet" href="css/skill.css">
    <link rel="stylesheet" href="css/comingsoon.css">
    <link rel="stylesheet" href="css/hodmsg.css">
  
    
   
    
    
    
</head>

<body>
    
    <!-- header-start -->
    <header id="home">
        <div class="header-area">
            <!-- header-top -->
            <div class="header-top primary-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                            <div class="header-contact-info d-flex">
                                <div class="header-contact header-contact-phone">
                                    <span class="ti-headphone"></span>
                                    <p class="phone-number">(+91-44) 2254 5406</p>
                                </div>
                                <div class="header-contact header-contact-email">
                                    <span class="ti-email"></span>
                                    <p class="email-name">crednitttr@gmail.com</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="header-social-icon-list">
                                <ul>
                                    <li><a href="#"><span class="ti-facebook"></span></a></li>
                                    <li><a href="#"><span class="ti-twitter-alt"></span></a></li>
                                    <li><a href="#"><span class="ti-dribbble"></span></a></li>
                                    <li><a href="#"><span class="ti-google"></span></a></li>
                                   
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /end header-top -->
            <!-- header-bottom -->
            <div class="header-bottom-area header-sticky" style="transition: .6s;">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-2 col-lg-2 col-md-6 col-6">
                            <div class="logo">
                                <a href="/">
                                    <img  src="img/cred_logo.png" alt="">
                                </a>
                            </div>
                        
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-6 col-6">
                            <div class="header-bottom-icon f-right">
                        
                            </div>
                            <div class="main-menu f-right">
                                <nav id="mobile-menu" style="display: block;">
                                    <ul>
                                        <li>
                                            <a href="/">Home</a>
                                            <ul class="submenu">
                                                <li>
                                                    <a href="/aboutus">About us</a>
                                                </li>
                                                <li>
                                                    <a href="/timeline">Timeline</a>
                                                </li>
                                                 <li>
                                                    <a href="/pasthod">Past HOD's</a>
                                                </li>
                                                 <li>
                                                    <a href="/hodmessage">HOD Message</a>
                                                </li>
                                               
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">People</a>
                                            <ul class="submenu">
                                                <li>
                                                    <a href="/profilecards">Faculty Directory</a>
                                                    <ul class="submenu">
                                                        <li>
                                                            <a href="https://cred-giridharan.netlify.app/" target="_blank">Dr.K.S Giridharan</a>
                                                        </li>
                                                        <li>
                                                            <a href="https://cred-jakulin.netlify.app/" target="_blank">Dr.P.Jakulin Divya Mary</a>
                                                        </li>
                                                        <li>
                                                            <a href="https://cred-anil.netlify.app/" target="_blank">Dr.M.Anil Kumar</a>
                                                        </li>
                                                        
                                                    </ul>
                                                </li>
                                               
                                                <li>
                                                    <a href="#">Staff Directory</a>
                                                    <ul class="submenu">
                                                       <li>
                                                           <a href="https://cred-staff-directory.netlify.app/" target="_blank">Support Staff</a>
                                                       </li>
                                                        
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Research</a>
                                            <ul class="submenu">
                                                <li>
                                                    <a href="/researchthemes">Research Themes</a>
                                                </li>
                                                <li>
                                                    <a href="/researchcentre">Research Centre</a>
                                                </li>
                                             
                                               
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Academics</a>
                                            <ul class="submenu">
                                                <li>
                                                    <a href="/programmes">Programmes</a>
                                                </li>
                                                <li>
                                                    <a href="#">Skill Development</a>
                                                    <ul class="submenu">
                                                       <li>
                                                           <a href="/skilldevabout">About</a>
                                                       </li>
                                                       <li>
                                                           <a href="/SkillDT">Skill Development Traning</a>
                                                       </li>
                                                        <li>
                                                            <a href="/Skilliiab8">IIAB-&-Section8</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                
                                                
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Events</a>
                                            <ul class="submenu">
                                                <li>
                                                    <a href="/news">News</a>
                                                </li>
                                                <li>
                                                    <a href="/events">Events</a>
                                                </li>
                                              
                                            </ul>
                                        </li>
                                         <li>
                                            <a href="#">Careers</a>
                                            <ul class="submenu">
                                                
                                                <li>
                                                    <a href="#courses">Interships</a>
                                                </li>
                                                <li>
                                                    <a href="/projectpositions">Project Positions</a>
                                                </li>
                                              
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Projects</a>
                                            <ul class="submenu">
                                                
                                                <li>
                                                    <a href="#">Completed</a>
                                                    <ul class="submenu">
                                                        <li>
                                                            <a href="/cdtp">CDTP</a>
                                                        </li>
                                                        <li>
                                                            <a href="/tnrtp">TNRTP</a>
                                                        </li>
                                                        <li>
                                                            <a href="/top">TOP</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#">Ongoing</a>
                                                    <ul class="submenu">
                                                       <li>
                                                           <a href="/pwd">PWD</a>
                                                       </li>
                                                       <li>
                                                           <a href="/uba">UBA</a>
                                                       </li>
                                                       <li>
                                                           <a href="/tot">TOT-TOA(NSDC)</a>
                                                       </li>
                                                        
                                                    </ul>
                                                </li>
                                              
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="/gallery">Gallery</a>
                                        </li>
                                        <li>
                                            <a href="/contactus">Reach us</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile-menu"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /end header-bottom -->
        </div>
    </header>
    <!-- header-end -->